# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
.next/
out/

# Database
*.db
*.sqlite

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Scripts (test files with tokens)
scripts/clear-redis-cache.ps1
scripts/landtitle-create.ps1
scripts/generate-test-token.ps1
scripts/generate-valid-jwt.ps1
scripts/landtitle-getall.ps1
scripts/landtitle-getbyID.ps1
scripts/test-get-landtitles-fixed.ps1
scripts/users-create.ps1
scripts/users-login.ps1
scripts/generate-long-token.js
scripts/package-lock.json
scripts/package.json
scripts/users-manualcreate.ps1
scripts/landtitle-create.ps1
scripts/payments-cancel.ps1
scripts/payments-confirm.ps1
scripts/payments-create.ps1
scripts/payments-edit.ps1
scripts/payments-get-all.ps1
scripts/payments-get-by-id.ps1
scripts/payments-status.ps1
scripts/payments-validate-id.ps1
scripts/payments-get-status.ps1




# Deployment scripts
deploy-build.ps1