trigger:
  branches:
    include:
      - main

pool:
  name: 'Default'

stages:
  - stage: Build
    displayName: 'Build and Deploy'
    jobs:
      - job: BuildAll
        displayName: 'Run Deploy Script'
        steps:
          - script: |
              chmod +x deploy-build-backup.sh
              ./deploy-build-backup.sh
            displayName: 'Execute deploy-build-backup.sh'
