trigger:
  branches:
    include:
      - main

pool:
  name: 'Default'

variables:
  - group: terraform-vars

stages:
  - stage: Build
    displayName: 'Build & Push Images'
    jobs:
      - job: BuildAll
        displayName: 'Build All Services'
        steps:
          - task: Docker@2
            displayName: 'Login to Docker Hub'
            inputs:
              command: login
              containerRegistry: 'dockerhub-connection'

          - script: |
              docker build -t terraflow/api-gateway:$(Build.BuildId) ./api-gateway
              docker build -t terraflow/backend-landregistry:$(Build.BuildId) ./backend-landregistry
              docker build -t terraflow/backend-documents:$(Build.BuildId) ./backend-documents
              docker build -t terraflow/backend-users:$(Build.BuildId) ./backend-users
              docker build -t terraflow/backend-payments:$(Build.BuildId) ./backend-payments
              docker build -t terraflow/backend-blockchain:$(Build.BuildId) ./backend-blockchain
              
              docker push terraflow/api-gateway:$(Build.BuildId)
              docker push terraflow/backend-landregistry:$(Build.BuildId)
              docker push terraflow/backend-documents:$(Build.BuildId)
              docker push terraflow/backend-users:$(Build.BuildId)
              docker push terraflow/backend-payments:$(Build.BuildId)
              docker push terraflow/backend-blockchain:$(Build.BuildId)
            displayName: 'Build and Push All Images'

  - stage: Deploy
    displayName: 'Deploy with Terraform'
    dependsOn: Build
    jobs:
      - job: TerraformDeploy
        displayName: 'Terraform Apply'
        steps:
          - task: TerraformInstaller@0
            inputs:
              terraformVersion: '1.14.4'

          - script: |
              cd terraform
              terraform init
              terraform plan
              terraform apply -auto-approve
            displayName: 'Deploy to Kubernetes'
            env:
              KUBECONFIG: $(KUBE_CONFIG)
