apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: {{ .Release.Namespace }}
  labels:
    app: frontend
spec:
  type: ClusterIP
  ports:
  - port: 4005
    targetPort: 4005
  selector:
    app: frontend
