apiVersion: v1
kind: Service
metadata:
  name: postgres-landregistry-service
  namespace: {{ .Release.Namespace }}
spec:
  type: NodePort
  ports:
  - port: 5432
    targetPort: 5432
    nodePort: 30432
  selector:
    app: postgres-landregistry