apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-service
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  ports:
  - name: amqp
    port: 5672
    targetPort: 5672
  - name: management
    port: 15672
    targetPort: 15672
  selector:
    app: rabbitmq
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-management
  namespace: {{ .Release.Namespace }}
spec:
  type: NodePort
  ports:
  - name: management
    port: 15672
    targetPort: 15672
    nodePort: 30672
  selector:
    app: rabbitmq